<ion-content [fullscreen]="true">

  <!-- ROUTER VIEW -->
  <router-outlet></router-outlet>

  <!-- BOTTOM NAV -->
  <nav class="bottom-nav">

    <a routerLink="/member/home"
       routerLinkActive="active"
       class="nav-item">
      <div class="icon-wrapper">
        <ion-icon name="home-outline" class="off"></ion-icon>
        <ion-icon name="home" class="on"></ion-icon>
      </div>
      <span>Beranda</span>
    </a>

    <a routerLink="/member/catalog-produk"
       routerLinkActive="active"
       class="nav-item">
      <div class="icon-wrapper">
        <ion-icon name="grid-outline" class="off"></ion-icon>
        <ion-icon name="grid" class="on"></ion-icon>
      </div>
      <span>Menu</span>
    </a>

    <a routerLink="/member/poin-saya"
       routerLinkActive="active"
       class="nav-item">
      <div class="icon-wrapper">
        <ion-icon name="star-outline" class="off"></ion-icon>
        <ion-icon name="star" class="on"></ion-icon>
      </div>
      <span>Poin Saya</span>
    </a>

    <a routerLink="/member/pesanan-saya"
       routerLinkActive="active"
       class="nav-item">
      <div class="icon-wrapper">
        <ion-icon name="bag-handle-outline" class="off"></ion-icon>
        <ion-icon name="bag-handle" class="on"></ion-icon>
      </div>
      <span>Pesanan</span>
    </a>

    <a routerLink="/member/profile"
       routerLinkActive="active"
       class="nav-item">
      <div class="icon-wrapper">
        <ion-icon name="person-outline" class="off"></ion-icon>
        <ion-icon name="person" class="on"></ion-icon>
      </div>
      <span>Saya</span>
    </a>

  </nav>

</ion-content>
