<ion-content>

  <ion-grid class="top">
    <ion-row>
      <ion-searchbar
        placeholder="Cari Akun User"
        showCancelButton="focus"
        class="custom"
        [(ngModel)]="searchQuery"
        (ionInput)="filterUsers()"
      ></ion-searchbar>
    </ion-row>

    <div class="add-btn">
      <button expand="full" (click)="openAddUser()">
        <ion-icon name="person-add-outline"></ion-icon> Tambah Akun User
      </button>
    </div>
  </ion-grid>


  <div style="padding: 0; margin-top: 14rem ; position: fixed; overflow-y: scroll; width: 100%; background: white; height: 100%;">

    <div class="bottom">

      <ion-list  *ngIf="filteredAccountList.length === 0">
        <div class="no-found">
          <img src="assets/no-found.png" alt="anajy ">
          <ion-title>Data Tidak Ditemukan.</ion-title>
        </div>
      </ion-list>

      <ion-list  *ngIf="filteredAccountList.length > 0">

        <div class="list-user" *ngFor="let account of filteredAccountList">
          <ion-grid>
            <ion-title>{{ account.username }}</ion-title>
            <!-- <ion-title>User Level: {{ account.users_level }}</ion-title> -->
            <ion-title class="title-bawah" *ngIf="account.users_level == 1"> Admin </ion-title>
            <ion-title class="title-bawah" *ngIf="account.users_level == 2"> Karyawan </ion-title>
          </ion-grid>

          <ion-button class="edit" fill="solid" shape="round" (click)="openEditModal(account)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            <!-- <ion-label>Edit</ion-label> -->
          </ion-button>

          <ion-button class="delete" fill="solid" shape="round" (click)="deleteUser(account.id_user)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            <!-- <ion-label>Edit</ion-label> -->
          </ion-button>

        </div>

      </ion-list>

    </div>

  </div>

</ion-content>



<ion-modal class="edit-modal" [isOpen]="isEditModalOpen" (didDismiss)="closeEditUser()">
  <ng-template>

    <ion-header>

      <ion-button slot="start" fill="clear" size="small" (click)="closeEditUser()" >
        <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-title style="color: black;">Edit Akun User</ion-title>

    </ion-header>


  <ion-content>

    <ion-grid class="login-container">

      <ion-grid class="input-container">
        <ion-input [(ngModel)]="selectedUser.username" type="text" label="Masukkan Username Baru" label-placement="floating"  required></ion-input>
      </ion-grid>

      <ion-grid  class="input-container">
        <ion-input [(ngModel)]="selectedUser.password" label="Masukkan Password Baru" label-placement="floating" [type]="showPassword ? 'text' : 'password'" required></ion-input>
        <span>
          <ion-icon
          slot="end"
          [name]="showPassword ? 'eye' : 'eye-off'"
          (click)="togglePasswordVisibility('password')"
          style="cursor: pointer;">
        </ion-icon>
        </span>
      </ion-grid>

      <ion-grid class="input-container">
        <ion-select label="Akses User" label-placement="floating"  [(ngModel)]="selectedUser.users_level">
          <ion-select-option value="1">
            Admin
          </ion-select-option>
          <ion-select-option value="2">
            Karyawan
          </ion-select-option>
        </ion-select>
      </ion-grid>

      <ion-grid class="btn">
        <ion-button expand="block" shape="round" (click)="updateUser()">
          <ion-title>Simpan Perubahan</ion-title>
        </ion-button>
      </ion-grid>

    </ion-grid>


  </ion-content>


  </ng-template>
</ion-modal>


<ion-modal #myModal [isOpen]="addUser" (didDismiss)="closeAddUser()">
  <ng-template>

    <div class="register-form">
      <ion-header>
        <ion-button slot="start" fill="clear" size="small" (click)="closeAddUser()">
          <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-title style="color: black;">Tambah Akun User</ion-title>
      </ion-header>

      <div class="img">
        <img src="assets/otatea-logo.png" alt="">
      </div>

      <div class="form-container">
        <ion-grid class="input-container">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input [(ngModel)]="username" name="username" type="text" label="Username" label-placement="floating" required></ion-input>
        </ion-grid>

        <ion-grid class="input-container">
          <ion-icon name="key-outline"></ion-icon>
          <ion-input [(ngModel)]="password" name="password" type="password" label="Password" label-placement="floating" required></ion-input>
          <span>
            <ion-icon
            slot="end"
            [name]="showConfirmPassword ? 'eye' : 'eye-off'"
            (click)="togglePasswordVisibility('confirmPassword')"
            style="cursor: pointer;">
          </ion-icon>
          </span>
        </ion-grid>

        <div class="btn">
          <ion-button expand="block" (click)="addEmployee()">Tambah User</ion-button>
        </div>
      </div>
    </div>

  </ng-template>
</ion-modal>
