<ion-content fullscreen class="login-page">

  <!-- HEADER -->
  <div class="login-header">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h1>Welcome Back</h1>
    <p>Silakan login untuk melanjutkan</p>
  </div>

  <!-- CARD LOGIN -->
  <div class="login-card">

    <div class="input-group">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-input
        [(ngModel)]="store_code"
        label="Outlet Code"
        label-placement="floating"
        type="text">
      </ion-input>
    </div>

    <div class="input-group">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input
        [(ngModel)]="username"
        label="Username"
        label-placement="floating"
        type="text">
      </ion-input>
    </div>

    <div class="input-group">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input
        [(ngModel)]="password"
        label="Password"
        label-placement="floating"
        [type]="showPassword ? 'text' : 'password'">
      </ion-input>
      <ion-icon
        class="eye"
        [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
        (click)="showPassword = !showPassword">
      </ion-icon>
    </div>

    <!-- REMEMBER -->
    <div class="row-between">
      <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
      <span>Ingat saya</span>

      <a class="forgot" (click)="reset()">Lupa password?</a>
    </div>

    <!-- BUTTON -->
    <ion-button expand="block" class="login-btn" (click)="login()">
      Login
    </ion-button>

    <!-- REGISTER -->
    <!-- <p class="register">
      Belum punya akun?
      <span (click)="register()">Daftar</span>
    </p> -->

  </div>

</ion-content>
