.login-page {
  --background: linear-gradient(180deg, #2563eb, #60a5fa);
}

/* HEADER */
.login-header {
  text-align: center;
  padding: 5rem 1rem 2.5rem;
  color: white;
}

.logo {
  width: 90px;
  margin-bottom: 1rem;
}

.login-header h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.login-header p {
  font-size: 14px;
  opacity: 0.9;
}

/* CARD */
.login-card {
  background: white;
  border-radius: 28px 28px 0 0;
  padding: 2.5rem 1.5rem;
  min-height: 60vh;

  box-shadow: 0 -8px 25px rgba(0, 0, 0, 0.12);
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  background: #f9fafb;
  border-radius: 14px;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  gap: 10px;
}

.input-group ion-icon {
  font-size: 1.4rem;
  color: #6b7280;
}

.eye {
  cursor: pointer;
}

/* REMEMBER */
.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  margin: 0.8rem 0 1.5rem;
}

.forgot {
  color: #2563eb;
  font-weight: 500;
}

/* BUTTON */
.login-btn {
  --background: linear-gradient(135deg, #2563eb, #1d4ed8);
  --border-radius: 14px;
  height: 48px;
  font-weight: 600;
}

/* REGISTER */
.register {
  text-align: center;
  margin-top: 1.2rem;
  font-size: 13px;
}

.register span {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
}

/* TEKS INPUT */
ion-input {
  --color: #4b5563;               /* abu gelap lembut */
  --placeholder-color: #9ca3af;   /* abu terang */
  font-weight: 400;
}

/* LABEL FLOATING */
ion-input::part(label) {
  color: #9ca3af;
  font-size: 13px;
}

/* SAAT FOCUS */
ion-input.ion-focused {
  --color: #374151;               /* sedikit lebih tegas */
}

/* ICON */
.input-group ion-icon {
  color: #6b7280;                 /* abu medium */
}

/* CONTAINER */
.input-group {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
}

/* FOCUS EFFECT */
.input-group:focus-within {
  border-color: #93c5fd;
  box-shadow: 0 0 0 2px rgba(147, 197, 253, 0.25);
}
