
<ion-header>


   <ion-button slot="start" fill="clear" size="small" (click)="goBackToProfile()">

      <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="color: black;" *ngIf="membership == '1'">Member anda (Gold) </ion-title>
    <ion-title style="color: black;" *ngIf="membership == '2'">Member anda (Silver) </ion-title>
    <ion-title style="color: black;" *ngIf="membership == '3'">Member anda (Bronze) </ion-title>

</ion-header>

<ion-content>


  <ion-grid class="slider-menu">

    <div class="arrow-left">
      <ion-button fill="clear" size="small" slot="icon-only" (click)="moveLeft()">
        <ion-icon style="color: #424242; font-size: 2rem ;" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-grid class="card-container">


      <div class="slider-container">


        <ion-card class="slider-item" style="border: 3px solid #c5ad92;">
          <ion-card-header>

            <div style="position: relative; width: 100%;">
              <div style="position: absolute; width: 100%;">
                <div style="position: relative; left: -5rem;">
                  <div style="display: flex; justify-content: left; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white; border: 1rem solid #dac7b3; border-radius: 50%;"></div>
                  </div>
                </div>
                <div style="position: relative; right: -5rem;">
                  <div style="display: flex; justify-content: right; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white ; border: 1rem solid #dac7b3; border-radius: 50%;"></div>
                  </div>
                </div>
              </div>
            </div>

            <ion-icon style="color: #a37541;" name="cube-outline"></ion-icon>
            <ion-card-title style="color: #a37541;"> {{ getName('Bronze') }} </ion-card-title>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga: {{ getPrice('Bronze') | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga Jual: {{ getSalePrice('Bronze') | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding-top: 10px; text-align: center; padding: 0 10%;">
              <li *ngFor="let item of getPackageDetail('Bronze')">
                {{ item }}
              </li>
          </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-button style="--background: #ff4d4d ; color: white;  font-size: small " *ngIf=" membership == '3' " >
              {{ 'Member saat ini' }}
            </ion-button>

            <ion-button style="--background: #727272; color: white; opacity: 50%; font-size: small;" *ngIf=" membership == '2' || membership == '1' " >
              {{ ' Member dibawah anda '  }}
            </ion-button>

          </ion-card-content>
        </ion-card>


      </div>

      <div class="slider-container">
        <ion-card class="slider-item" style="border: 3px solid #21C3E3;">
          <ion-card-header>

            <div style="position: relative; width: 100%;">
              <div style="position: absolute; width: 100%;">
                <div style="position: relative; right: -5rem; top: -2rem;">
                  <div style="display: flex; justify-content: right; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white; border: 1rem solid #C5F0FF; border-radius: 50%;"></div>
                  </div>
                </div>
                <div style="position: relative; left: -5rem;">
                  <div style="display: flex; justify-content: left; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white ; border: 1rem solid #C5F0FF; border-radius: 50%;"></div>
                  </div>
                </div>
              </div>
            </div>

            <ion-icon style="color: #21C3E3;" name="cube-outline"></ion-icon>
            <ion-card-title style="color: #21C3E3;"> {{ getName('Silver') }} </ion-card-title>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga: {{ getPrice('Silver') | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga Jual: {{ getSalePrice('Silver') | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding-top: 10px; text-align: center; padding: 0 10%;">
              <li *ngFor="let item of getPackageDetail('Silver')">
                {{ item }}
              </li>
          </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-button (click)="openModal(getName('Silver'))" style="--background: #21c3e3; color: white; font-size: small;" *ngIf=" membership == '3' " >
              {{ ' Upgrade ke ' + getName('Silver')  }}
            </ion-button>

            <ion-button style="--background: #ff4d4d; color: white; font-size: small ;" *ngIf=" membership == '2' " >
                {{ 'Member saat ini' }}
            </ion-button>

            <ion-button style="--background: #727272; color: white; opacity: 50%; font-size: small;" *ngIf=" membership == '1' " >
              {{ ' Member dibawah anda '  }}
            </ion-button>

          </ion-card-content>
        </ion-card>
      </div>

      <div class="slider-container">
        <ion-card class="slider-item" style="border: 3px solid #FEBB4B;">
          <ion-card-header>

            <div style="position: relative; width: 100%;">
              <div style="position: absolute; width: 100%;">
                <div style="position: relative; left: -4rem; top: -2rem;">
                  <div style="display: flex; justify-content: left; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white; border: 1rem solid #FCE2CB; border-radius: 50%;"></div>
                  </div>
                </div>
                <div style="position: relative; right: -5rem; bottom: -2rem;">
                  <div style="display: flex; justify-content: right; width: 100%;">
                    <div style="width: 5rem; height: 5rem; background-color: white ; border: 1rem solid #FCE2CB; border-radius: 50%;"></div>
                  </div>
                </div>
              </div>
            </div>

            <ion-icon style="color: #FEBB4B;" name="cube-outline"></ion-icon>
            <ion-card-title style="color: #FEBB4B;" >{{ getName('Gold') }}</ion-card-title>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga: {{ getPrice('Gold') | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="text-align: center; font-weight: bolder;">
              Harga Jual: {{ getSalePrice('Gold')  | currency: 'Rp. ': 'symbol': '0.0-0' }}
            </ion-card-subtitle>
            <ion-card-subtitle style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding-top: 10px; text-align: center; padding: 0 10%;">
              <li *ngFor="let item of getPackageDetail('Gold')">
                {{ item }}
              </li>
          </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-button (click)="openModal(getName('Gold'))" style="--background: #febb4b; color: white; font-size: small;" *ngIf=" membership == '2' || membership == '3'  " >
                {{ ' Upgrade ke ' + getName('Gold')  }}
            </ion-button>

            <ion-button style="--background: #ff4d4d; color: white; font-size: small ;" *ngIf=" membership == '1' " >
                {{ 'Member anda tertinggi ' }}
            </ion-button>


          </ion-card-content>
        </ion-card>
      </div>

    </ion-grid>

    <div class="arrow-right">
      <ion-button fill="clear" size="small" slot="icon-only" (click)="moveRight()">
        <ion-icon style="color: #424242; font-size: 2rem;" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-grid>






  
  
  <!-- <div style="position: absolute; bottom: 0; right: 0; left: 0;">


    <ion-grid class="bottom-circle-container">
      <ion-grid class="bottom-circle">
        <ion-grid class="bottom-circle-inside"></ion-grid>
      </ion-grid>
    </ion-grid>


    <div class="footer"></div>

</div> -->


</ion-content>


<ion-modal #myModal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ng-template>

    <ion-content>

      <!-- Pembayaran -->
      <div class="pembayaran" *ngIf="selectedPackage && !isPaid">
        <ion-grid>

          <ion-header>
              <ion-button slot="start" fill="clear" size="small" (click)="closeModal()" >
                <ion-icon style="color:#FC9C4C; font-size: 2rem;" name="chevron-back-outline"></ion-icon>
              </ion-button>
              <ion-title style="color: black;">Pembayaran</ion-title>
          </ion-header>

          <ion-title class="text">*Selesaikan pembayaran untuk melanjutkan.</ion-title>

          <ion-grid>
            <!-- Cash -->
            <div class="pay-form">
              <ion-radio-group [(ngModel)]="paymentMethod">
                <ion-label>Cash</ion-label>
                <ion-radio slot="end" value="CA"></ion-radio>
              </ion-radio-group>
            </div>

            <!-- Virtual Account -->
            <div class="pay-form">
              <ion-radio-group [(ngModel)]="paymentMethod">
                <ion-label>Virtual Account</ion-label>
                <ion-radio slot="end" value="VA"></ion-radio>
              </ion-radio-group>
            </div>

            <div class="va-pay" *ngIf="paymentMethod === 'VA'">
              <ion-title>Lengkapi Data</ion-title>
              <div>
                <ion-label>Nomor Virtual Account :</ion-label>
                <ion-input type="text" [(ngModel)]="paymentId"></ion-input>
              </div>
            </div>

            <!-- Transfer -->
            <div class="pay-form">
              <ion-radio-group [(ngModel)]="paymentMethod">
                <ion-label>Transfer</ion-label>
                <ion-radio slot="end" value="TF"></ion-radio>
              </ion-radio-group>
            </div>

            <div class="tf-pay" *ngIf="paymentMethod === 'TF'">
              <ion-title>Lengkapi Data</ion-title>
              <div>
                <ion-label>Payment ID :</ion-label>
                <ion-input type="text" [(ngModel)]="paymentId"></ion-input>
              </div>
            </div>

            <!-- Debit/Credit Card -->
            <div class="pay-form">
              <ion-radio-group [(ngModel)]="paymentMethod">
                <ion-label>Debit/Credit Card</ion-label>
                <ion-radio slot="end" value="DC"></ion-radio>
              </ion-radio-group>
            </div>

            <div class="dc-pay" *ngIf="paymentMethod === 'DC'">
              <ion-title>Lengkapi Data</ion-title>
              <ion-grid>
                <div style="border-bottom: 1px solid #424242;">
                  <ion-label>Card Type</ion-label>
                  <ion-select [(ngModel)]="cardType" placeholder=" " slot="end">
                    <ion-select-option value="visa">Visa</ion-select-option>
                    <ion-select-option value="masterCard">MasterCard</ion-select-option>
                    <ion-select-option value="amex">American Express</ion-select-option>
                  </ion-select>
                </div>
                <div>
                  <ion-label>Card Number :</ion-label>
                  <ion-input type="text" [(ngModel)]="cardNumber"></ion-input>
                </div>
              </ion-grid>
            </div>
          </ion-grid>
        </ion-grid>
      </div>
    </ion-content>

    <ion-footer *ngIf="selectedPackage && !isPaid">
      <ion-toolbar>

        <div>
          <ion-title>Total</ion-title>
          <ion-title>{{ selectedPackage.sale_price | currency: 'Rp. ': 'symbol': '0.0-0' }}</ion-title>
          <!-- <ion-input [value]="selectedPackage?.sale_price | currency" disabled></ion-input> -->
        </div>

        <div class="btn">
          <ion-button expand="block"  (click)="payForPackage()"><ion-title>Bayar</ion-title></ion-button>
        </div>

      </ion-toolbar>
    </ion-footer>

  </ng-template>
</ion-modal>
